/* .top{
  background-color: white;
 
  display: flex;
  justify-content: center;
  
}
.container{
  
  border: 1px solid black;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.input{
  width: 80%;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.text{
  width: 80%;
  border: 1px solid black;
  background-color: white;
} */